.textarea{
    height: 400px;
    width: 800px;
}
form{
    padding: 20px 0;
}
.mat-card{
    width:calc(100% - 200px);
    margin:auto;
    display: block;
}
.mat-form-field{
    margin-right: 10px;
   
}

table {
    width: 100%;
  }
  .questionInput{
      width: 100%;
  }
  .example-box{
      display: flex;
      border: 1px solid rgba(0, 0, 0, 0.24);
      padding: 10px;
      margin: 10px 0;
  }
  .example-box input{
      margin-right: 10px;
  }
  
  .createBtn{
     margin: auto;
    display: block;
      margin-top: 10px;
  }

  .closebtn{
    margin: auto;
    display: flex; 
    right: -390px;
    margin: 7px; 
  }
  .nextBtn{
      float: right;
      position: relative;
      top: -40px;
  }
  .quizForm  .mat-form-field{
    width: 31%;
    
  }
  .quizForm .nxtButton{
   float: right;
  }