/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.quizForm .mat-form-field-infix{
    width: 300px;
}
.quizTabs .mat-horizontal-content-container{
    padding: 0 50px;
}
.appearSection{
    padding: 20px 50px;
}
.appearSection .startQuiz{
    margin-left: 25px;
}